{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form-container">
    <h2>Establecer nueva contraseña</h2>
    
    <form method="post" class="formulario">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_new_password1">Nueva contraseña:</label>
            {{ form.new_password1 }}
            <small>La contraseña debe tener entre 6 y 18 caracteres, al menos una mayúscula y un número.</small>
            {% if form.new_password1.errors %}
                <div class="error">{{ form.new_password1.errors }}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="id_new_password2">Confirmar nueva contraseña:</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <div class="error">{{ form.new_password2.errors }}</div>
            {% endif %}
        </div>
        
        {% if form.non_field_errors %}
            <div class="error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        
        <button type="submit" class="btn-animado">Restablecer contraseña</button>
    </form>
</div>
{% endblock %}