.categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.categoria {
  width: 200px;
  text-align: center;
}

.categoria img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.categoria img:hover {
  transform: scale(1.05);
}
